<div class="card-review mx-5 my-4 px-5 py-4" id="review-<%= review.id %>">
  <div class="card-review-infos mx-5">
      <%= cl_image_tag review.user.profile_picture.key, crop: :fill, class: "card-review-user avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div>
      <h2>@<%= review.user.name %></h2>
      <p><%= review.user.created_at%></p>
    </div>
  </div>
  <p class="mx-5 mb-3"><%= review.content %></p>
</div>
