
<h1 class="text-center mt-4">Uploaded Exercise</h1>

<%= render "teacher_exercise_card" %>
<div class="container">
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "review_card" %>
</div>

<div class="teacher-ex-card-button-add">
  <p class="teacher-ex-card-button">Add new exercise</p>
</div>

<%= render partial: "shared/footer" %>
