<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render "teacher_exercise_card" %>
<div class="container">
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>
  <%= render partial: "results_card" %>


</div>
