<div class="d-flex justify-content-center"
      id="tone-controller"
      data-controller="tone"
      data-tone-question-value="<%= %>"
      data-tone-attempt-value=""
      data-tone-chords-value="<%= %>"
      data-tone-bpm-value="<%=  %>">
  <p class="lw-button lw-btn-sm text-center mb-0 mx-2" data-action="click->tone#play_question">Play Melody</p>
  <%# <p class="lw-button lw-btn-sm text-center mb-0 mx-2 my-0">Check</p> %>
   <%# <% simple_form_for(@attempt_music) do |f| %>
    <%# <%= f.input :notes, as: :hidden, input_html: {data: {tone_target: "hidden-input"}} %>
      <%# <%= f.submit 'Check', class: "lw-button lw-btn-sm text-center mx-2" %>
  <%# <% end %>
</div>
