<div class="m-3">
  <h1 class="text-center"><%= @exercise.name %></h1>
  <div class="player_card shadow p-5">
    <div class="d-flex justify-content-end">
      <i class="play-button fas fa-play-circle fa-3x mb-0 mx-2"></i>
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Play Melody</p>
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Check</p>
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Submit</p>
    </div>
        <div class="d-flex justify-content">
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/whole-note_chdou4.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/half-note_uk6aeu.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/quarter-note_wbzr40.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285264/eighth-note_erdzte.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/sixteenth-note_unwb9y.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285264/dotted-half-note_qlqktb.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285264/dotted-quarter-note_wv55sq.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285264/dotted-eighth-note_zajwoa.jpg" %>
    </div>
      <%= image_tag "placeholder.jpeg", class: "music-sheet-placeholder mx-auto mt-4" %>
  </div>
</div>
