<div class="m-3">
  <h1 class="text-center"><%= @exercise.name %></h1>
  <div class="player_card shadow p-5">
    <%= render "tone" %>

    <div class="d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/sixteenth-note_unwb9y.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285264/eighth-note_erdzte.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/quarter-note_wbzr40.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/half-note_uk6aeu.jpg" %>
      <%= image_tag "https://res.cloudinary.com/dto6yv11m/image/upload/c_scale,w_60/v1646285265/whole-note_chdou4.jpg" %>
    </div>
      <div class="text-center">
        <%= render "score" %>
      </div>

  </div>
</div>

<%= render "results_card" %>
