<p class="my-2"><%= title %></p>
<div>
  <div class="progress w-100">
    <div
      class="progress-bar progress-bar-bg"
      style="width: <%= stat %>%"
      role="progressbar"
      aria-valuenow="<%= stat %>"
      aria-valuemin="0"
      aria-valuemax="100">
        <%= stat.floor %> %
      </div>
  </div>
  <div class="d-flex justify-content-between">
    <p>0</p>
    <p><%= max %></p>
  </div>
</div>
