<div class="d-flex justify-content-center"
      id="tone-controller"
      data-controller="tone"
      data-tone-question-value="<%= @question_music.notes %>"
      data-tone-attempt-value=""
      data-tone-bpm-value="<%= @question_music.bpm %>">
    <p class="lw-button lw-btn-sm text-center mx-2" data-action="click->tone#play_attempt"><i class="far fa-play-circle"
      ></i> Attempt</p>
  <p class="lw-button lw-btn-sm text-center mb-0 mx-2" data-action="click->tone#play_question">Play Melody</p>
  <%# <p class="lw-button lw-btn-sm text-center mb-0 mx-2 my-0">Check</p> %>
  <%= simple_form_for(@attempt_music) do |f| %>
    <%= f.input :notes, as: :hidden, input_html: {data: {tone_target: "hidden-input"}} %>

    <% if flash[:success] == true %>
      <p class="lw-button lw-btn-sm text-center mx-2 shine"  data-bs-toggle="modal" data-bs-target="#commentModal">Continue</p>
    <% else %>
      <%= f.submit 'Check', class: "lw-button lw-btn-sm text-center mx-2" %>
    <% end %>
  <% end %>

</div>
