<div class="d-flex justify-content-center align-items-center"
      id="question-tone-controller"
      data-controller="tone"
      data-tone-notes-value="<%= @question_music.notes %>"
      data-tone-chords-value="<%= @question_music.chords %>"
      data-tone-bpm-value="<%= @question_music.bpm %>">
  <p class="lw-button lw-btn-sm text-center mx-2 shine"  data-bs-toggle="modal" data-bs-target="#helpModal">Help</p>
  <div id='play_button'>
    <p class='lw-button w-btn-sm  text-center mb-0 mx-2'
       data-action='click->tone#play'>
      <i class='far fa-play-circle'></i> Question
    </p>
  </div>
  <%# <p class="lw-button lw-btn-sm text-center mb-0 mx-2 my-0">Check</p> %>
  <%= simple_form_for(@attempt_music, @action) do |f| %>
    <%= f.input :notes, as: :hidden, input_html: {id: "form-notes-input"} %>
    <% if flash[:success] == true %>
      <p class="lw-button lw-btn-sm text-center mx-2 shine"  data-bs-toggle="modal" data-bs-target="#commentModal">Continue</p>
    <% else %>
      <%= f.submit 'Check', class: "lw-button lw-btn-sm text-center mx-2" %>
    <% end %>
  <% end %>

</div>
