<div class="d-flex justify-content-center align-items-center"
      id="tone-controller"
      data-controller="tone"
      data-tone-question-value="<%= @question_music.notes %>"
      data-tone-attempt-value=""
      data-tone-chords-value="<%= @question_music.chords %>"
      data-tone-bpm-value="<%= @question_music.bpm %>">

  <div style="text-align: right">
    <div>
      <label class="form-check-label" for="radio_question">
        Question &nbsp
      </label>
      <input data-tone-target="play_question"  type="radio" name="play" id="radio_question" checked>
    </div>

    <div>
      <label class="form-check-label" for="radio_attempt">
        My melody &nbsp
      </label>
      <input data-tone-target="play_attempt"  type="radio" name="play" id="radio_attempt">
    </div>
  </div>
  <div id='play_button'>
    <p class='lw-button w-btn-sm  text-center mb-0 mx-2'
       data-action='click->tone#play'>
      <i class='far fa-play-circle'></i>
    </p>
  </div>
  <%# <p class="lw-button lw-btn-sm text-center mb-0 mx-2 my-0">Check</p> %>
  <%= simple_form_for(@attempt_music) do |f| %>
    <%= f.input :notes, as: :hidden, input_html: {data: {tone_target: "hidden-input"}} %>

    <% if flash[:success] == true %>
      <p class="lw-button lw-btn-sm text-center mx-2 shine"  data-bs-toggle="modal" data-bs-target="#commentModal">Continue</p>
    <% else %>
      <%= f.submit 'Check', class: "lw-button lw-btn-sm text-center mx-2" %>
    <% end %>
  <% end %>

</div>
