<div id="loading">
  <img id="loading-image"  alt="Loading..." />
</div>
<div class="m-3">
 <div class="spinner-border text-primary"
    id="spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="d-flex justify-content-between">
    <h1 class="index-title text-center"><%= @exercise.name %></h1>
      <%= render "tone" %>
  </div>
  <%= render "player_exercise_card" %>
  <%= render "results_card" %>
  <%= render "help_card" %>
</div>
